   
   
    <div class="container">
      <div class="row">
        <div class="col-sm designdiv">
          <form >
            <input type="text" name="nombre" placeholder="Nombre" [(ngModel)]="nombre">
            <input type="text" name="empresa" placeholder="Empresa" [(ngModel)]="empresa">
            <input type="number"name="costo" placeholder="costo" [(ngModel)]="costo">
            <input type="button" value="insertar" class="btn btn-success"  (click)="insertarProyecto()">
            
            </form>
        </div>
        <div class="col-sm ">
           <h1>Gestion de Proyectos</h1>
          <app-proyecto-hijo  *ngFor="let proyecto of proyectos let i=index"   [proyectoH]="proyecto" [indice]="i"> </app-proyecto-hijo>
      </div>
      </div>
    </div>