<div class="col-lg-8 designdiv" >
    <h5 class="text-center">Proyecto</h5>
    <span>{{indice+1}}</span><br>
    <span>{{proyectoH.nombre}}</span><br>
    <span>{{proyectoH.empresa}}</span><br>
    <span>{{proyectoH.costo}}</span><br> 
  <div class="text-center">
    <a >
    <button [routerLink]="['/actualizarProyecto',indice]" [queryParams]="{action:1}" class="btn btn-warning">modificar</button>
</a>  
<a >
    <button [routerLink]="['/actualizarProyecto',indice]" [queryParams]="{action:2}" class="btn btn-danger">eliminar</button>
</a> 
  </div> 
    </div>


   