@import url('https://fonts.cdnfonts.com/css/egosta');


main {
    padding: 3rem;
    color: rgb(0, 0, 0);
    text-align: center;
}
main a {

    color:rgb(255, 255, 255);
    font-family: egosta;
}
#custom-cards{
    color: rgb(0, 0, 0);
   
}
.card{
    background-image:url("unsplash-photo-3.jpg");
}



